.card-style:hover{
    transform: translateY(-5px);
}
.card-style,.card-style-mid{
    border: 4px solid rgb(0, 131, 0) ;
    flex-basis: 25%;
    padding: 10px;
    min-width: 20px;
    margin-bottom: 5px;
    transition: transform 0.5s;
 
 
}
.card-style,.card-style-mid img{
    width: 100%;
    height: 300px;
}
.card-style-mid:hover{
    transform: translateY(+5px);
}
